<h2>Creatures of the Bog</h2>

<%= link_to "Add a new Creature", new_creature_path, :class=>"btn btn-primary" %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Creature</th>
        </tr>
      </thead>
      <tbody>
        <% @creatures.each do |c| %>
          <tr>
            <td><%= link_to c.name, c %></td>
            <td><%= link_to raw("<i class=\"glyphicon glyphicon-pencil\"></i>"), edit_creature_path(c.id), :class=>"btn btn-primary" %></td>
            <td><%= link_to raw("<i class=\"glyphicon glyphicon-trash\"></i>"), creature_path(c.id), :method => :delete, data:{confirm: "You will delete this creature."}, :class=>"btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>


