<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h2>Creatures of the Bog</h2>

    <%= link_to "Add a new Creature", new_creature_path, :class=>"index-add-btn btn btn-primary" %>


    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Creature</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @creatures.each do |c| %>
          <tr>
            <td><%= link_to c.name, c %></td>
            <td class="text-center"><%= link_to raw("<i class=\"glyphicon glyphicon-pencil\"></i>"), edit_creature_path(c.id), :class=>"btn btn-primary btn-sm" %></td>
            <td class="text-center"><%= link_to raw("<i class=\"glyphicon glyphicon-trash\"></i>"), creature_path(c.id), :method => :delete, data:{confirm: "You will delete this creature."}, :class=>"btn btn-danger btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>


