<h2>Creatures of the Bog</h2>

<p>A bog is a mire that accumulates peat, a deposit of dead plant material—often mosses, and in a majority of cases, sphagnum moss. It is one of the four main types of wetlands. Other names for bogs include mire, quagmire, and muskeg; alkaline mires are called fens.</p>

<p>Many wonders of the modern world have yet to be discovered in bogs!</p>

<p>Please enjoy this site that is dedicated to all the bog loving enthusiasts out there.</p>