<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h2>Tags New</h2>

    <%= bootstrap_form_for @tag do |tag| %>
    <%= tag.text_field :name, :placeholder =>"Enter a tag" %>
    <%= tag.submit "Create Tag", :class => "new-page-btn btn btn-primary" %>
    <% end %>

    <% @tags.each do |tag| %>
      <%= link_to tag.name, tag, :class => "btn btn-info" %>
    <% end %>
  </div>
</div>