<div class="row text-center">
  <div class="col-md-4 col-md-offset-4">

    <h2 class="text-left">Tags Show page</h2>

    <h3><%= @tag.name %></h3>

    <%= link_to raw("<i class=\"glyphicon glyphicon-trash\"></i>"), tag_path(@tag.id), :method => :delete, data:{confirm: "You will delete this tag from #{@tag.creatures.length} " + "creature".pluralize(@tag.creatures.length) + "."}, :class=>"btn btn-danger btn-sm" %>

    <hr>

    <% @tag.creatures.each do |creature| %>
      <li><%= link_to creature.name, creature %></li>

   <!--    <%= link_to raw("<i class=\"glyphicon glyphicon-trash\"></i>"), tag_path(@tag), :method => :delete, data:{confirm: "You will delete this creature."}, :class=>"btn btn-danger" %> -->
    <% end %>


  </div>
</div>